/* Color palette: https://www.colorcombos.com/color-schemes/221/ColorCombo221.html */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;

  background-color: #ffffff;
  color: #313c53;

  display: grid;
  justify-items: center;
  gap: 0.5rem 0px;
  grid-template-areas:
    'header'
    'main'
    'how-to'
    'footer';
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  grid-area: header;
  align-self: end;

  color: #455268;
  line-height: 2.5rem;
  margin-top: 2rem;
  font-size: 1.4rem;
}

.subheading {
  font-size: 1.4rem;
  margin-left: 1.8rem;
  font-weight: 500;
}

main {
  grid-area: main;
  text-align: center;
}

#grid {
  padding: 2px;
  border-radius: 8px;
  box-shadow: 3px 3px 15px -1px rgba(69, 82, 104, 0.15);
}

.row {
  height: 32px;
}

.cell {
  height: 25px;
  width: 25px;
  margin: 3.5px 5px;
  border-radius: 15px;

  appearance: none;
  outline: none;
  cursor: pointer;

  background-color: #b6c0d2;
  transition: background-color calc(1s / 7.5) ease;
}

.cell:checked {
  background-color: chartreuse;
}

#controls {
  display: flex;
  justify-content: space-around;
  align-items: center;

  background-color: #b6c0d2;
  height: 75px;
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  background: transparent;

  width: 55px;
  height: 55px;
  border-radius: 8px;
}

.material-icons.md-48 {
  font-size: 48px;
  color: #313c53;
}

.material-icons.md-48:hover {
  color: white;
}

button:hover {
  background: #455268;
}

button:active {
  box-shadow: 1px 1px 10px 0px rgba(28, 38, 60, 0.6);
  transform: translateY(4px);
}

#how-to {
  grid-area: how-to;
  display: grid;
  align-items: center;

  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr min-content min-content;
  gap: 0.6rem 0px;
  grid-template-areas:
    'button header .'
    '. p1 .'
    '. p2 .';
}

#how-to * {
  margin-left: 0.7rem;
}

#how-to-button {
  grid-area: button;
  justify-self: end;
  transition: transform 0.5s ease;
}

#how-to h2 {
  grid-area: header;
}

#p1 {
  grid-area: p1;
}

#p2 {
  grid-area: p2;
}

#p1,
#p2 {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.75s ease;
}

footer {
  grid-area: footer;
  width: 100%;
  height: 130px;

  font-size: 1rem;
  line-height: 1.5rem;
  background-color: #455268;
  color: white;

  padding-top: 2rem;
  padding-left: 10%;
}

.fab {
  font-size: 1.5rem;
  margin-top: 3px;
}

@media only screen and (max-width: 575px) {
  /*   #grid {
    padding: 5px;
  } */
}
