/* 
Thoughts/TODO: 
  Consider adding animations to the cells.  
  It would be cool to see them 'grow' from a point to fill the circle?
  This may help with that: https://www.w3schools.com/howto/howto_css_animate_buttons.asp

  Color palette: https://www.colorcombos.com/color-schemes/221/ColorCombo221.html
 */

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;

  background-color: #ffffff;
  color: #313c53;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin: 10px;
  text-transform: uppercase;
  color: #455268;
}

h1:hover {
  color: #313c53;
}

button {
  outline: none;
  cursor: pointer;
  background-color: #455268;
  color: #ffffff;

  border: 2px solid #313c53;
  border-radius: 8px;
  box-shadow: 3px 3px 11px 0px rgba(28, 38, 60, 0.5);

  height: 40px;
  min-width: 80px;
  font-size: 1.3rem;
  margin: 5px;
  padding: 6px;
}

#controls {
  padding: 10px;
}

button:hover {
  background: #313c53;
}

button:active {
  box-shadow: 1px 1px 10px 0px rgba(28, 38, 60, 0.6);
  transform: translateY(4px);
}

#grid {
  margin: 10px;
  border-radius: 8px;
  box-shadow: 3px 3px 15px -1px rgba(69, 82, 104, 0.15);
  padding: 15px;
}

.row {
  height: 32px;
}

.cell {
  height: 25px;
  width: 25px;
  margin: 5px;
  border-radius: 15px;

  appearance: none;
  outline: none;
  background-color: #b6c0d2;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.cell:checked {
  background-color: chartreuse;
}
