/* Color palette: https://www.colorcombos.com/color-schemes/221/ColorCombo221.html */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  background-color: #ffffff;
  color: #313c53;
}

header {
  color: #455268;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  cursor: pointer;
  background-color: #455268;
  color: #ffffff;

  border: 2px solid #313c53;
  border-radius: 8px;
  box-shadow: 3px 3px 11px 0px rgba(28, 38, 60, 0.5);

  height: 40px;
  min-width: 80px;
  font-size: 1.3rem;
  margin: 5px;
  padding: 6px;
}

button:hover {
  background: #313c53;
}

button:active {
  box-shadow: 1px 1px 10px 0px rgba(28, 38, 60, 0.6);
  transform: translateY(4px);
}

#grid {
  border-radius: 8px;
  box-shadow: 3px 3px 15px -1px rgba(69, 82, 104, 0.15);
}

.row {
  height: 32px;
}

.cell {
  height: 25px;
  width: 25px;
  margin: 3.5px 5px;
  border-radius: 15px;

  appearance: none;
  outline: none;
  cursor: pointer;

  background-color: #b6c0d2;
  transition: background-color calc(1s / 7.5) ease;
}

.cell:checked {
  background-color: chartreuse;
}

footer img {
  height: 24px;
  width: 24px;
}

@media only screen and (max-width: 575px) {
  /*   #grid {
    padding: 5px;
  } */
}
