$pageBg: #ffab91;
$blockBg: #ffddc1;

$text: #725b53;
$light: #fafafa;

$mainBoxShadow: #eb8a84;
$checkedCell: #d1b7ad;

$btnBg: #a1887f;
$btnHover: #987c73;
$btnActive: #715a52;
$btnBoxShadow: #e7cab5;
