@use './colors';

#controls {
  position: relative;
  z-index: 2;
  bottom: -30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  outline: none;
  cursor: pointer;
  border: none;

  height: 54px;
  width: 54px;
  border-radius: 50%;
  background: colors.$btnBg;
  box-shadow: 0px 4px 4px #e7cab5;
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
  /* make hover only active on non-mobile*/
  button:hover {
    background: colors.$btnHover;
  }

  [data-play='true']:hover {
    background: colors.$activeBtn;
  }
}

[data-play='true'] {
  background: colors.$activeBtn;
}

button:active {
  background: colors.$activeBtn;
  transform: translateY(4px);
}

.material-icons-round.md-32 {
  font-size: 32px;
  color: colors.$lightColor;
}

.material-icons-round.md-24 {
  font-size: 24px;
  color: colors.$lightColor;
}

.material-icons-round.md-26 {
  font-size: 26px;
}

.pulse {
  position: absolute;
  z-index: -1;

  height: inherit;
  width: inherit;
  border-radius: inherit;
  background: inherit;

  animation: pulse-border 1.5s ease-out infinite;
}

@keyframes pulse-border {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
