#how-to {
  grid-area: how-to;
  display: grid;
  align-items: center;
  margin-bottom: 45px;

  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 1fr min-content min-content;
  gap: 0.6rem 0px;
  grid-template-areas:
    'button header .'
    '. p1 .'
    '. p2 .';

  a {
    color: #fafafa;
  }

  a:hover {
    color: #ffddc1;
  }

  h2 {
    font-family: 'Press Start 2P', cursive;
    grid-area: header;

    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #725b53;
  }
}

#how-to > * {
  margin-left: 0.7rem;
}

#how-to-button {
  grid-area: button;
  justify-self: end;
}

#p1 {
  grid-area: p1;
}

#p2 {
  grid-area: p2;
}

#p1,
#p2 {
  max-height: 0px;
  max-width: 62vw;
  overflow: hidden;
  transition: max-height 0.75s ease;
}
